#vertical-nav {
  height: 110%;
  width: 25%;
  border-radius: 0px;
  float: left;
  position: fixed;
}

#vertical-nav p {
  text-align: center;
  font-size: 130%;
  color: white;
  padding: 20px;
}

#vertical-nav h1 {
  color: white;
  text-align: center;
  font-size: 200%;
  padding-top: 30px;
  padding-bottom: 20px;
}

#horizontal-nav {
  height: 7%;
  width: 75%;
  background-color: #1b1c1d;
  border-radius: 0px;
  float: right;
  position: relative;
  margin-left: 25%;
  margin-top: 0px;
  top: 0;
  z-index: -999;
}

#horizontal-nav button {
  text-align: center;
  font-size: 100%;
  background-color: #1b1c1d;
  color: white;
  border: 0px;
  padding: 20px 105px 8px 105px;
}

#header {
  font-size: 200%;
  color: #57b846;
  margin: 3% 10% 1% 29%;
}

#a_header {
  font-size: 200%;
  color: #57b846;
  margin: 3% 10% 1% 35%;
}

#new_message {
  width: 55%;
  font-size: 100%;
  color: black;
  margin: 1% 10% 1% 35%;
}

#post {
  word-wrap: break-word;
  color: gray;
  width: 55%;
  height: 15%;
  margin: 1% 10% 1% 35%;
}

#assignment_list {
  word-wrap: break-word;
  width: 55%;
  margin-left: 25%;
  text-align: center;
}

#assignment_list div.item {
  margin-top: 3%;
}
